{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}

{% block content %}
<link rel='stylesheet' id='ebor-heading-font-css'  href='http://fonts.googleapis.com/css?family=Montserrat%3A400%2C700&#038;ver=e1a2963672de2aef2229ff44a9c70715' type='text/css' media='all' />


<p></p>

   <div class="general-container">
        <div class="container top-container">
            <div class="wrapper-boxed" >
                <div class="col-lg-8 col-lg-offset-2">
                  <div class="section-top">
                  <div class="article-title"> Фотограф Александр Свет</div>
                </div>
                  <p></p>
                  <p><img src="/static/img/about_photo.jpg"></p>

                    <p>В профессиональной фотографии более десяти лет. </p>
<p>Имею большой опыт как проведения постановочных фотосессий, так и съемки бизнес-конференций, корпоративных праздников, концертов и других мероприятий. </p>
<p><strong>Мне доверяют фотосъёмку такие компании и издания, как:</strong></p>
<p>«Газпром», «Сбербанк», «РусАл», «РЖД», «Альфа-Банк», «Mars», «Kaspersky», «Rolling Stone», телеканал «ТНТ», «Renault», «Lancome», «L’Occitane», «Deutsche Bank», «Базовый Элемент», «KFC» и многие другие.</p>
<p>Смело обращайтесь, если вам нужны: </p>
<p>– Качественные фотографии с вашего праздника или корпоративного мероприятия<br />
– Профессиональная съемка сотрудников и руководителей компании в бизнес-стиле<br />
– Красивые и яркие семейные фотографии</p>
<p>Вместе с тем, я работаю не во всех жанрах фотографии (например, предметной съемкой я не занимаюсь), но то, что я умею — делаю профессионально и со знанием дела.</p>
<p>Так же, я веду блог про обработку в Capture One &#8212; <a href="http://captureoneblog.ru/">CaptureOneBlog.ru</a> и являюсь <a href="http://www.phaseone.com/en/Workshops/POCP/Certified-Professionals.aspx">единственным в России сертифицированным специалистом</a> по программе Capture One &#8212; <strong>Phase One Certified Professional</strong>.</p>
<p><strong>Контактная информация:</strong></p>
<p><strong>Телефон:</strong> +7 (906) 702-86-46<br />
<strong>Mail:</strong> sashasvet@gmail.com</p>

                </div>
            </div>
        </div>
    </div>





{% endblock content %}
